[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=meebible
Exec=/usr/bin/invoker -s --type=d --splash=/opt/meebible/share/splash.png --splash-landscape=/opt/meebible/share/splash-ls.png /opt/meebible/bin/meebible
Icon=/usr/share/icons/hicolor/64x64/apps/meebible.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
