[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=meebible
Exec=/usr/bin/single-instance /opt/meebible/bin/meebible
Icon=meebible
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
