.store-links
    font-size: 120%
    text-align: center

    td.variant
        width: 250px

    td.divider
        width: 150px
        vertical-align: middle

    .title
        margin-bottom: 10px

    .desc
        font-size: 80%
