.store-link
    display: inline
    font-size: 120%

    &.indent-left
        margin-left: 10px

    img
        vertical-align: text-bottom


.store-link-divider
    display: inline-block
    width: 100px
    text-align: center
