Source: meebible
Section: user/office
Priority: extra
Maintainer: Ilya Skriblovsky <Ilya.Skriblovsky@gmail.com>
Build-Depends: debhelper (>= 7), libqt4-dev, applauncherd-dev
Standards-Version: 3.8.4
Homepage: http://projects.developer.nokia.com/meebible

Package: meebible
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Bible reader for MeeGo Harmattan
XB-Description-ru_RU: Читалка Библии для MeeGo Harmattan
Version: 3.0.0
XSBC-Maemo-Display-Name: MeeBible
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKRWlDQ1BJQ0MgcHJvZmlsZQAAeNqd
 U2dUU+kWPffe9EJLiICUS29SFQggUkKLgBSRJiohCRBKiCGh2RVRwRFFRQQbyKCIA46OgIwVUSwM
 igrYB+Qhoo6Do4iKyvvhe6Nr1rz35s3+tdc+56zznbPPB8AIDJZIM1E1gAypQh4R4IPHxMbh5C5A
 gQokcAAQCLNkIXP9IwEA+H48PCsiwAe+AAF40wsIAMBNm8AwHIf/D+pCmVwBgIQBwHSROEsIgBQA
 QHqOQqYAQEYBgJ2YJlMAoAQAYMtjYuMAUC0AYCd/5tMAgJ34mXsBAFuUIRUBoJEAIBNliEQAaDsA
 rM9WikUAWDAAFGZLxDkA2C0AMElXZkgAsLcAwM4QC7IACAwAMFGIhSkABHsAYMgjI3gAhJkAFEby
 VzzxK64Q5yoAAHiZsjy5JDlFgVsILXEHV1cuHijOSRcrFDZhAmGaQC7CeZkZMoE0D+DzzAAAoJEV
 EeCD8/14zg6uzs42jrYOXy3qvwb/ImJi4/7lz6twQAAA4XR+0f4sL7MagDsGgG3+oiXuBGheC6B1
 94tmsg9AtQCg6dpX83D4fjw8RaGQudnZ5eTk2ErEQlthyld9/mfCX8BX/Wz5fjz89/XgvuIkgTJd
 gUcE+ODCzPRMpRzPkgmEYtzmj0f8twv//B3TIsRJYrlYKhTjURJxjkSajPMypSKJQpIpxSXS/2Ti
 3yz7Az7fNQCwaj4Be5EtqF1jA/ZLJxBYdMDi9wAA8rtvwdQoCAOAaIPhz3f/7z/9R6AlAIBmSZJx
 AABeRCQuVMqzP8cIAABEoIEqsEEb9MEYLMAGHMEF3MEL/GA2hEIkxMJCEEIKZIAccmAprIJCKIbN
 sB0qYC/UQB00wFFohpNwDi7CVbgOPXAP+mEInsEovIEJBEHICBNhIdqIAWKKWCOOCBeZhfghwUgE
 EoskIMmIFFEiS5E1SDFSilQgVUgd8j1yAjmHXEa6kTvIADKC/Ia8RzGUgbJRPdQMtUO5qDcahEai
 C9BkdDGajxagm9BytBo9jDah59CraA/ajz5DxzDA6BgHM8RsMC7Gw0KxOCwJk2PLsSKsDKvGGrBW
 rAO7ifVjz7F3BBKBRcAJNgR3QiBhHkFIWExYTthIqCAcJDQR2gk3CQOEUcInIpOoS7QmuhH5xBhi
 MjGHWEgsI9YSjxMvEHuIQ8Q3JBKJQzInuZACSbGkVNIS0kbSblIj6SypmzRIGiOTydpka7IHOZQs
 ICvIheSd5MPkM+Qb5CHyWwqdYkBxpPhT4ihSympKGeUQ5TTlBmWYMkFVo5pS3aihVBE1j1pCraG2
 Uq9Rh6gTNHWaOc2DFklLpa2ildMaaBdo92mv6HS6Ed2VHk6X0FfSy+lH6JfoA/R3DA2GFYPHiGco
 GZsYBxhnGXcYr5hMphnTixnHVDA3MeuY55kPmW9VWCq2KnwVkcoKlUqVJpUbKi9Uqaqmqt6qC1Xz
 VctUj6leU32uRlUzU+OpCdSWq1WqnVDrUxtTZ6k7qIeqZ6hvVD+kfln9iQZZw0zDT0OkUaCxX+O8
 xiALYxmzeCwhaw2rhnWBNcQmsc3ZfHYqu5j9HbuLPaqpoTlDM0ozV7NS85RmPwfjmHH4nHROCeco
 p5fzforeFO8p4ikbpjRMuTFlXGuqlpeWWKtIq1GrR+u9Nq7tp52mvUW7WfuBDkHHSidcJ0dnj84F
 nedT2VPdpwqnFk09OvWuLqprpRuhu0R3v26n7pievl6Ankxvp955vef6HH0v/VT9bfqn9UcMWAaz
 DCQG2wzOGDzFNXFvPB0vx9vxUUNdw0BDpWGVYZfhhJG50Tyj1UaNRg+MacZc4yTjbcZtxqMmBiYh
 JktN6k3umlJNuaYppjtMO0zHzczNos3WmTWbPTHXMueb55vXm9+3YFp4Wiy2qLa4ZUmy5FqmWe62
 vG6FWjlZpVhVWl2zRq2drSXWu627pxGnuU6TTque1mfDsPG2ybaptxmw5dgG2662bbZ9YWdiF2e3
 xa7D7pO9k326fY39PQcNh9kOqx1aHX5ztHIUOlY63prOnO4/fcX0lukvZ1jPEM/YM+O2E8spxGmd
 U5vTR2cXZ7lzg/OIi4lLgssulz4umxvG3ci95Ep09XFd4XrS9Z2bs5vC7ajbr+427mnuh9yfzDSf
 KZ5ZM3PQw8hD4FHl0T8Ln5Uwa9+sfk9DT4FntecjL2MvkVet17C3pXeq92HvFz72PnKf4z7jPDfe
 Mt5ZX8w3wLfIt8tPw2+eX4XfQ38j/2T/ev/RAKeAJQFnA4mBQYFbAvv4enwhv44/Ottl9rLZ7UGM
 oLlBFUGPgq2C5cGtIWjI7JCtIffnmM6RzmkOhVB+6NbQB2HmYYvDfgwnhYeFV4Y/jnCIWBrRMZc1
 d9HcQ3PfRPpElkTem2cxTzmvLUo1Kj6qLmo82je6NLo/xi5mWczVWJ1YSWxLHDkuKq42bmy+3/zt
 84fineIL43sXmC/IXXB5oc7C9IWnFqkuEiw6lkBMiE44lPBBECqoFowl8hN3JY4KecIdwmciL9E2
 0YjYQ1wqHk7ySCpNepLskbw1eSTFM6Us5bmEJ6mQvEwNTN2bOp4WmnYgbTI9Or0xg5KRkHFCqiFN
 k7Zn6mfmZnbLrGWFsv7Fbou3Lx6VB8lrs5CsBVktCrZCpuhUWijXKgeyZ2VXZr/Nico5lqueK83t
 zLPK25A3nO+f/+0SwhLhkralhktXLR1Y5r2sajmyPHF52wrjFQUrhlYGrDy4irYqbdVPq+1Xl65+
 vSZ6TWuBXsHKgsG1AWvrC1UK5YV969zX7V1PWC9Z37Vh+oadGz4ViYquFNsXlxV/2CjceOUbh2/K
 v5nclLSpq8S5ZM9m0mbp5t4tnlsOlqqX5pcObg3Z2rQN31a07fX2Rdsvl80o27uDtkO5o788uLxl
 p8nOzTs/VKRU9FT6VDbu0t21Ydf4btHuG3u89jTs1dtbvPf9Psm+21UBVU3VZtVl+0n7s/c/romq
 6fiW+21drU5tce3HA9ID/QcjDrbXudTVHdI9VFKP1ivrRw7HH77+ne93LQ02DVWNnMbiI3BEeeTp
 9wnf9x4NOtp2jHus4QfTH3YdZx0vakKa8ppGm1Oa+1tiW7pPzD7R1ureevxH2x8PnDQ8WXlK81TJ
 adrpgtOTZ/LPjJ2VnX1+LvncYNuitnvnY87fag9v77oQdOHSRf+L5zu8O85c8rh08rLb5RNXuFea
 rzpfbep06jz+k9NPx7ucu5quuVxrue56vbV7ZvfpG543zt30vXnxFv/W1Z45Pd2983pv98X39d8W
 3X5yJ/3Oy7vZdyfurbxPvF/0QO1B2UPdh9U/W/7c2O/cf2rAd6Dz0dxH9waFg8/+kfWPD0MFj5mP
 y4YNhuueOD45OeI/cv3p/KdDz2TPJp4X/qL+y64XFi9++NXr187RmNGhl/KXk79tfKX96sDrGa/b
 xsLGHr7JeDMxXvRW++3Bd9x3He+j3w9P5Hwgfyj/aPmx9VPQp/uTGZOT/wQDmPP87zWUggAADxBJ
 REFUeNrtW3tsHMUZ//b2Xr6Hfef4EZtLA8EqOBAlDlaDEpBoK4RaoqqCqP9WSosCRSgC8QdSC4jQ
 v6oIhCiFFIkKVVSoCv2DAq2q0lbISYPq4LhOSQIWrzi249fZZ5/vuTv9vtmZvbm93bOdMyFRO9Z4
 9/YxM99vft9jZmcA/seTtl4Fvfzyy2E8hHw+X9g0zX7G2DbMKbzWhzmI5714jK6yuKymaWfwWMQ8
 hOdjmEew7EEsO4/XCvfdd1/+KwcAhd6IDduBp1vL5fJuzNuxgT2YAc/tjMJDqVSiI5N10nV6jhIK
 Bn6/XxbLsEwtEAgAHvh1mek5zKN4Poz5OD77IRZ5CsGYvKwAHDlyZBs25AGs/NZcLtebz+fDhUIB
 DMMgwRgKppGsJEDdysV9CxfvJMvCOhkKrum6DqFQCMLhcL6pqekM3juBdb544MCBkS8VgJdeeoko
 /RzmvZlMxr+4uOijXmRW0lYSeL2SAIRXSKyIx+Nmc3NzGW+9hfng/fffP7auALzwwgshrGsfCntk
 eXk5OjMzc1kFXi0gbW1tWiQSySIoB/Da0QcffLDQMADPP/98Fxb+c6T5/nQ6DXhkWMGVIbkjYQcx
 VAstmUySeryCIPzsoYcemrhkAJ555pluNEZvLSws9GEmHb9yut2bDQxthNbS0gKYh9D47n3kkUfG
 1wzAs88+24U9/fbc3BwJf8UL7gYEAqC1trYOITPufvjhhydWDcDhw4dDePgVGrn98/PzDNYxXrjc
 OCQSCQ2N5Ct4/pNHH320xib4PXRpH7o1rvPk0q6yzldZoJEM6Dr3o9v8G156bUUGPP744ym0pGen
 pqaiCMJVR303VUDhtY6Ojix6sBuffvrpsboMwMDiOaR+FB/m1n6lIOUqSBrJQjLFYjGKYe71ZMCh
 Q4e2YYcPjo2NBa5ivfckQyqVKmGH9j/xxBMjrgzAmw9QhIfubkXmO5lBz1P8vtI7NCaQz7uV5fcH
 gMIMZt2oKl8mdRzhvFfPHqA386NBfIAMYg0DnnzySRrYvDM+Pt5HMb1b42VD6RiJxsDE1wuFIpSw
 MQUWgCmjCXL4O1co4zUGJtN4DaFgAII4mGmNBKBdz0I0FICQZkJ2KcPLotheD0VgschgIssgnStD
 keTz6fi+jmBgpId/oYAOTeEgtAfKEPcVsUwfBHUNjzoE8Dw9O8vB8AKE6unu7h7COr/71FNPTVYx
 AIXegUavl9B1E14MdGCJhWCqFIJiIQIbWhPQ3h6GjmQcNnZ2QGtzHJqjYYg1hVFoHMFhnI6tAQMB
 yhVKML+Ug7GZeRi9MAunxqZhUzILRmYaRqeWoHfrZtjesxm+190JieYoRLGMgF/notP7hZIB2XwB
 s1XOzMIiTM5hns/CxYVlWJzPQ4eOAJtzEDIKfOToTNT+bDbbi0aRRrB/dqrAVhzZhSnaU5lBVCPh
 abT3eS4I1++5E366ewuk2pohFglDEGnv1/kw1UKeWKJ50dACkxpyfmYBfvneeZienoZf/PAG+Prm
 a5D+Ovg0TbyvFsLsAxOUpzaZpFJlA3L5IsxllmHgkzQcPXEOdiwNYgfl3UBgJCMCsFUCoNO/xx57
 LIyNOoiWksb1mqQ7VUI6myuWYTQXhoWWHth7xy74wa7rINwUwV4Ogi4aLSvTBBBuWeorje27kjE4
 OTQM37p5E9zZfyNNAljPiXLkELiK0o7fRGnqgEhTCNqRhRGWhX9+sgCzTZtgfnYK4pCvUl+yA/Q7
 GAwu3X777W8ODAyU/aKXQyjodjl5odIeBz+Q1ZqgtH0fJBJtYKJOGqalldJIUYPU9zz9kfqc5oNC
 ZhaZ1SH7174vhVTtjnqPkk8ByipPw14vQHkpDbnULcBCG8A495qrASVZ0WBTtJuXAITxYg9mPpmh
 WmwCoIQ9FghH0SYFgTPUZqm2JkusPscPGrHFMnAqQ1QQ3N5VgVBB1REUi0k+8CMzPDwOI1mRPTSF
 t+ATBrBfGDlNoQvPZANMgzKyg7yDo3HO85Wu2b85hFgWmQxf9TM+RY1U4d3uV3LF0DDeZgOcsgj7
 o5GsJDNnkgBgm5izswQWmRsaa8bHMkBUCG+Mz26IbJw8d15zE4g/o9Uyww1YMQ/oaVcq5fsEGwQI
 DllklswmmW0vgD9SdJEecM7T2UdkATPRRaK/Vxvv1kteel8lGDWYSS7U9rYX9b2CKPsKMzhjdSGs
 0yYpAKRUAPqKxWJVdCWNIGeB3+S0YobFBKvBK+t5XfugVdwbqYCXDZFCOMF1XuNqpInnKQgzLAbb
 7llJJCvJbAOALwVtqntEfhwAs9IY0CqoO3u4bk+pnkBx8asB06vsCqKYqY0oPCh670xC1qANAF7o
 VV2gw3fywrghxKBDE2GS5mKNKVPhqotSprTt37xX6BlZFtdf035HDWCcbXJ6guo2gGCqwdvqBYAY
 S/SqKhClCFC6QFmBajiY8AKMmRULrhg1VVjmMoipYQBTwkNxsFys5jrQcn5ncNZtRaGVdoNi+FzU
 i5HMKgP4zI86CKq2osK1CDUArVowrwarPVprCO3YGBwhhavxrFd+lYBc/8ugGRVP5gKAJu2dZAB4
 2QA7HiBKCd+62uTZ+1V1rKz3a0lcDsO02+plA2Rn2wwgvXAaLdUGSL0ianGbIPytm2GSv530qzKq
 du/X6rhbR3jNH8h6bLuBKsrInpkr2oBqBkiX4VSBigcwLTtgux9wp+BK7k+lMQjhxDWnqqyWBao7
 JFfN1bXsbQNqGKCGvV5GkIeW/Nys677cestNACb0FUR06ZwBqpfcy5TRqhUGa6bhCYDKjCob4Gy4
 qURTtmsxmSrCikGPZ+8pGiDGlmu2LbWIggiCEACjPgA1DPDSPdUIWoZQMIKxhmZNeb9TbzGTN97D
 Xa2hPLA7ipXNunGAKqvNANnjTvcmLbVVcNlSAWkXGgBAuldQY41GpuC5/RCdQwbdwwhKt1zjBejL
 qjMQst0j6VOZDIc1NG64sba+W0wCaLw8rvuyY0TUKmMAt0BIyioByGIDonVVwDRs92KuAwBWcMW4
 ITSY2TgAJtjjALIBYHiPBWhqDHNWtQG0zKTfCUAVEKRTAbPiEhvuMau3DALWYA3bAEt+U0SsFAmW
 q+Rw2gCs74zKgKKXDZBstWwAjbUt2rp9O1hTg/2+in1xccNrNwG+im0qGZ6RoFJXUWXAEB52e80H
 gNQr06iMCarYYtnh6pGhmPZSJjelwHTPLkOZfQJlnqE62IK69QmltofrvCOVYMc1DrFkthkw5qRL
 TShsWm7QNCoRlkSefwShZW6a5S6z2WWe84U8b0QwFIRYNAotzXHw6X4oFEv2wIqXhdSlqfVQOAQ0
 r0ETFrQipVSyaBwK0dR3BMJ036dzupNBpvs2E8VQnNoJK4wFVJklACP1VcC65+OW1uD+X9d9HJip
 mSk4/Z+PYGjkLJz9+DO4MDkLSwUDSnxEirREgGi2NoCPb2hpgr6btsC937kDbtl5sx0Kk/CTF6fg
 j+/8FY7969/wBZaRL9FUN30Z8vEPLwGdQXMkCN0dSdiyqQu23ngdbL/pBujq6sS2BCymgWVYufU3
 WV0VwI4bUeOAQXGDyY8HaijMBxiIKg0xZ2YX4U/vDsC7Ayfh+OBpmJheAH84Dq1tnRBPtkFySw/0
 tiegvTUOiVgTByqzXIJ0JgefTczBex9dhNff/TV8s/86WFpcgo6N3XDo8BH4zetvQ6IzBdd8rQf6
 dvdDZ1sC4rEw/7yWyRZhmj6BzWbgQnoRzg7Pwev/+Biymd/DhngAdvReC7f29UIAUS4W0VMFxaSI
 6FCHCnAZkWWDKgPyeHEUT3sktdVQWE41E8bvnPgCfvfGh7CxLQZbenbCN/a0QGdrFDoSTdAaD2Iv
 BXiPMltXTT7jQ6tk2bYmGJ9NwtBoB/x9eBLmF0wYzXwOF8fPw7fv+j7svrkbru2M8A+d6lBZ0wJY
 dxLLTMDSchHS2RLMzOfhYnoZLsxk4dzkPPzl1ROoniWIJTaC7q8eCKkAiDUPo9jpeZUBtHZmmACo
 cX+MiUkGEV76gpDYtANKUIBz4xn46Hwar+dtxBl3yF4uUkN10LgdMPQWCCc3wRKqSXP3TXDqsyUY
 PH0MjFJe0NZ7MoQA5bPKZPmxPcwXhmgyBUyP8Gtc8PoB27CQ2QJgYGAgf9ttt9Ha23vlel4VANLh
 kI7GCPXQFJ+qGQsBhNt4afqqg2INyqhhJZq0FLNKKAYfFObNCOjx6yHoA4A1BdkW23QbIMavaH6f
 GwDyw+9xktkGQCD7oa7r+VKpFHZ6hNzCBETSr1oUajD4SW7YDFPxO0CX8xeiTQYCc03+JKTHTkOj
 iTxTMBgk9+EEgNYZ50lWeUFdH3AKX6SIsE+NB+gLLK38uNT4Xx15Ubm59HmIp3/r+myGvIVYZVJv
 TnCl+ihTu53gi69MZ0jWGgCOHz8+uWfPnhPoz7ejhfTJqWy5TL3R5JxgcWu4+hlsPVjgLAtlMfHa
 iWPHjk3WACB66EVE7ke0XF8uhpYFrQcAzvjCree8IrdLSY5vCLSEtkwyVlsQR9q1a9cb5XL5HvpU
 bpWxfovFVkPp9V6WKOpkqFoaMuAP77//ftUyuZqujcViB7HHs2JF+LouEqz3hbfe4qZGMSBZSCaS
 zXlTd1749NNPM6lU6nNszD2r3flxpSbRdr79BgHYj67vWI2t8Hj3KL7wirCkV/NSUdJ7Ep4WSx91
 ZaXXm/39/bRR4m20B31y5djVwgSp97RvAPWe1gXePTg4OLEmAAQI3Sj0WwSC3Bt0JQMhBZd7iYTw
 e1F4zw0Ter0Cx8fHF7u6ut7EwpIUIImR4hUJgio8X3mq67Rl5scnT5689C0zChNCWNg+zEdo8pRm
 kOWw+asGQvkuya09Jtp0eQDzUez5xjdNqWnnzp0pLPg5ohVmv0kzHnY7mF3WlwWK4xO7vaIVBacI
 j2+bw2cOfvDBB+u7bc4FCFphRauub6UtsZjDSuOqwPCs2OVz1SresYUWcQMNbPjGScwvYo9/uRsn
 namvr8/eOosC7MbjdlDmFFwEswVwW1ThfMYJlDiniZthPLe3zg4NDV3erbMerOCbpzETG2gRIrEk
 hed88zTmNW2exsw3T6OgNHtLlB6hzRx45JunkeZ5+H9qPP0X+QP0ncDPoE0AAAAASUVORK5CYII=

Package: meebible-free
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Bible reader for MeeGo Harmattan (free version)
XB-Description-ru_RU: Читалка Библии для MeeGo Harmattan (бесплатная версия)
Version: 3.0.0
XSBC-Maemo-Display-Name: MeeBible Free
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKRWlDQ1BJQ0MgcHJvZmlsZQAAeNqd
 U2dUU+kWPffe9EJLiICUS29SFQggUkKLgBSRJiohCRBKiCGh2RVRwRFFRQQbyKCIA46OgIwVUSwM
 igrYB+Qhoo6Do4iKyvvhe6Nr1rz35s3+tdc+56zznbPPB8AIDJZIM1E1gAypQh4R4IPHxMbh5C5A
 gQokcAAQCLNkIXP9IwEA+H48PCsiwAe+AAF40wsIAMBNm8AwHIf/D+pCmVwBgIQBwHSROEsIgBQA
 QHqOQqYAQEYBgJ2YJlMAoAQAYMtjYuMAUC0AYCd/5tMAgJ34mXsBAFuUIRUBoJEAIBNliEQAaDsA
 rM9WikUAWDAAFGZLxDkA2C0AMElXZkgAsLcAwM4QC7IACAwAMFGIhSkABHsAYMgjI3gAhJkAFEby
 VzzxK64Q5yoAAHiZsjy5JDlFgVsILXEHV1cuHijOSRcrFDZhAmGaQC7CeZkZMoE0D+DzzAAAoJEV
 EeCD8/14zg6uzs42jrYOXy3qvwb/ImJi4/7lz6twQAAA4XR+0f4sL7MagDsGgG3+oiXuBGheC6B1
 94tmsg9AtQCg6dpX83D4fjw8RaGQudnZ5eTk2ErEQlthyld9/mfCX8BX/Wz5fjz89/XgvuIkgTJd
 gUcE+ODCzPRMpRzPkgmEYtzmj0f8twv//B3TIsRJYrlYKhTjURJxjkSajPMypSKJQpIpxSXS/2Ti
 3yz7Az7fNQCwaj4Be5EtqF1jA/ZLJxBYdMDi9wAA8rtvwdQoCAOAaIPhz3f/7z/9R6AlAIBmSZJx
 AABeRCQuVMqzP8cIAABEoIEqsEEb9MEYLMAGHMEF3MEL/GA2hEIkxMJCEEIKZIAccmAprIJCKIbN
 sB0qYC/UQB00wFFohpNwDi7CVbgOPXAP+mEInsEovIEJBEHICBNhIdqIAWKKWCOOCBeZhfghwUgE
 EoskIMmIFFEiS5E1SDFSilQgVUgd8j1yAjmHXEa6kTvIADKC/Ia8RzGUgbJRPdQMtUO5qDcahEai
 C9BkdDGajxagm9BytBo9jDah59CraA/ajz5DxzDA6BgHM8RsMC7Gw0KxOCwJk2PLsSKsDKvGGrBW
 rAO7ifVjz7F3BBKBRcAJNgR3QiBhHkFIWExYTthIqCAcJDQR2gk3CQOEUcInIpOoS7QmuhH5xBhi
 MjGHWEgsI9YSjxMvEHuIQ8Q3JBKJQzInuZACSbGkVNIS0kbSblIj6SypmzRIGiOTydpka7IHOZQs
 ICvIheSd5MPkM+Qb5CHyWwqdYkBxpPhT4ihSympKGeUQ5TTlBmWYMkFVo5pS3aihVBE1j1pCraG2
 Uq9Rh6gTNHWaOc2DFklLpa2ildMaaBdo92mv6HS6Ed2VHk6X0FfSy+lH6JfoA/R3DA2GFYPHiGco
 GZsYBxhnGXcYr5hMphnTixnHVDA3MeuY55kPmW9VWCq2KnwVkcoKlUqVJpUbKi9Uqaqmqt6qC1Xz
 VctUj6leU32uRlUzU+OpCdSWq1WqnVDrUxtTZ6k7qIeqZ6hvVD+kfln9iQZZw0zDT0OkUaCxX+O8
 xiALYxmzeCwhaw2rhnWBNcQmsc3ZfHYqu5j9HbuLPaqpoTlDM0ozV7NS85RmPwfjmHH4nHROCeco
 p5fzforeFO8p4ikbpjRMuTFlXGuqlpeWWKtIq1GrR+u9Nq7tp52mvUW7WfuBDkHHSidcJ0dnj84F
 nedT2VPdpwqnFk09OvWuLqprpRuhu0R3v26n7pievl6Ankxvp955vef6HH0v/VT9bfqn9UcMWAaz
 DCQG2wzOGDzFNXFvPB0vx9vxUUNdw0BDpWGVYZfhhJG50Tyj1UaNRg+MacZc4yTjbcZtxqMmBiYh
 JktN6k3umlJNuaYppjtMO0zHzczNos3WmTWbPTHXMueb55vXm9+3YFp4Wiy2qLa4ZUmy5FqmWe62
 vG6FWjlZpVhVWl2zRq2drSXWu627pxGnuU6TTque1mfDsPG2ybaptxmw5dgG2662bbZ9YWdiF2e3
 xa7D7pO9k326fY39PQcNh9kOqx1aHX5ztHIUOlY63prOnO4/fcX0lukvZ1jPEM/YM+O2E8spxGmd
 U5vTR2cXZ7lzg/OIi4lLgssulz4umxvG3ci95Ep09XFd4XrS9Z2bs5vC7ajbr+427mnuh9yfzDSf
 KZ5ZM3PQw8hD4FHl0T8Ln5Uwa9+sfk9DT4FntecjL2MvkVet17C3pXeq92HvFz72PnKf4z7jPDfe
 Mt5ZX8w3wLfIt8tPw2+eX4XfQ38j/2T/ev/RAKeAJQFnA4mBQYFbAvv4enwhv44/Ottl9rLZ7UGM
 oLlBFUGPgq2C5cGtIWjI7JCtIffnmM6RzmkOhVB+6NbQB2HmYYvDfgwnhYeFV4Y/jnCIWBrRMZc1
 d9HcQ3PfRPpElkTem2cxTzmvLUo1Kj6qLmo82je6NLo/xi5mWczVWJ1YSWxLHDkuKq42bmy+3/zt
 84fineIL43sXmC/IXXB5oc7C9IWnFqkuEiw6lkBMiE44lPBBECqoFowl8hN3JY4KecIdwmciL9E2
 0YjYQ1wqHk7ySCpNepLskbw1eSTFM6Us5bmEJ6mQvEwNTN2bOp4WmnYgbTI9Or0xg5KRkHFCqiFN
 k7Zn6mfmZnbLrGWFsv7Fbou3Lx6VB8lrs5CsBVktCrZCpuhUWijXKgeyZ2VXZr/Nico5lqueK83t
 zLPK25A3nO+f/+0SwhLhkralhktXLR1Y5r2sajmyPHF52wrjFQUrhlYGrDy4irYqbdVPq+1Xl65+
 vSZ6TWuBXsHKgsG1AWvrC1UK5YV969zX7V1PWC9Z37Vh+oadGz4ViYquFNsXlxV/2CjceOUbh2/K
 v5nclLSpq8S5ZM9m0mbp5t4tnlsOlqqX5pcObg3Z2rQN31a07fX2Rdsvl80o27uDtkO5o788uLxl
 p8nOzTs/VKRU9FT6VDbu0t21Ydf4btHuG3u89jTs1dtbvPf9Psm+21UBVU3VZtVl+0n7s/c/romq
 6fiW+21drU5tce3HA9ID/QcjDrbXudTVHdI9VFKP1ivrRw7HH77+ne93LQ02DVWNnMbiI3BEeeTp
 9wnf9x4NOtp2jHus4QfTH3YdZx0vakKa8ppGm1Oa+1tiW7pPzD7R1ureevxH2x8PnDQ8WXlK81TJ
 adrpgtOTZ/LPjJ2VnX1+LvncYNuitnvnY87fag9v77oQdOHSRf+L5zu8O85c8rh08rLb5RNXuFea
 rzpfbep06jz+k9NPx7ucu5quuVxrue56vbV7ZvfpG543zt30vXnxFv/W1Z45Pd2983pv98X39d8W
 3X5yJ/3Oy7vZdyfurbxPvF/0QO1B2UPdh9U/W/7c2O/cf2rAd6Dz0dxH9waFg8/+kfWPD0MFj5mP
 y4YNhuueOD45OeI/cv3p/KdDz2TPJp4X/qL+y64XFi9++NXr187RmNGhl/KXk79tfKX96sDrGa/b
 xsLGHr7JeDMxXvRW++3Bd9x3He+j3w9P5Hwgfyj/aPmx9VPQp/uTGZOT/wQDmPP87zWUggAAFV1J
 REFUeNrlW2tsHNd1/s69M/skxZeepmRZEmnFUSLLEuXIlilWbYM6hY2ggPsjCIpYcKDGdV0gRhUj
 BurE/RHAKWIDTu2mQVLFaIP8iIE6dougMVDJEhVRMqX4KVnyQ7Ilk5Yokrvk7s7uzL339MfMHc4+
 SCmSkaboAANyZ+7rnHse3zn3DPD//KKr6fSDH/yAhBBi9+7d2j774Q9/mMtmsz1EtIqZbwqCYL1S
 apUxZi2ANmPMGgBZ294YA2YOF0EEIURyCk8IcQZASQjxvuM451zXPUVEJ5n5nOd5k7t3764k5pbG
 GPO1r32NfycMsNfevXs7mXknEW0MgmBLEAQblVKrjTFQSsU3MyMIAjAzExExM7TWMMYAAIQQkFKC
 iOI2ruuCiOA4TnwLIeA4zgeu677uuu4xAMcADO/atavwO5WAZ599doNSapcxZsjzvIFarYZarQal
 FHzfh9Z6bgKi5F9OzmnfWUmILgZA9lnynZQSqVQKjuMgnU4jk8kgk8mMCiFedhxn71e+8pW3PnEG
 PP300/TAAw8wAPz0pz9d43neHt/3v1SpVDorlQpqtRorpQJmlkIIstflxm0gGi26cOMaObqMMUxE
 2nEcN51OUy6XQy6XK6RSqZ9ls9l/+PKXv3ymce1XxYDvf//79OCDD3KkZw/4vv/35XK5u1gs1ok0
 ESGUbKZP0D7xfGuMVMXescp0dHQgn89PpVKpR3fv3v10Iw1XJQE/+clPOiqVyo88z7tnenoanucB
 AEdEJ8fga7UpV8qAxvkiwQAAymaz6OrqQjabfS6Xy3313nvvLS40iWj18KmnnqJI17tKpdKLhULh
 nvHxcZTLZU6KsDEGxhiO7uTv5PPG941tFnrWahxunMMSDwDlcpnHx8dRKBTuKZVKLz777LNdSZou
 KwHf/e536Rvf+Ab/+Mc/7iiVSi8Wi8XByclJk9BtvoxKceLvfHNxQ9tWz/gq7Jk1oMzM3NPTIzo6
 Og62tbXdfd999xUtbVekAk888cTPZ2dn75mcnDTMTEIIWkgM/zdVoNXckaHknp4e0d7e/txDDz30
 51dsA5544okHyuXyP168eBHGGJ6H+N9rBlgmCCFo6dKlyOfzf/3QQw89fVkGPPnkk2s8zxu9dOlS
 t+d5CxH/e88Ay4RsNkuLFy+eymazA1//+tfPJN87jR18398zOzvbXS6XIYQgY8wnTdjv8mIAVC6X
 kU6nu6WUewD8VZMX+Pa3v00A8Pjjj2+oVqtfKhQKmMd6/1+7yXqLQqGAarX6pccff3xDkmYHABzH
 EQB0rVbbVSqVOoMgABHFWL0VYmv1rrOzE0JKaK3BjLpgR0qBwPdRKpXiZ/ZOQud8Pg/HTcGwARu2
 k0IQQYjwb7FYbAm3kyCp8QqCAKVSqZOIdgH4W0tz3POxxx7rZOaXJiYmBiqVitV9bgVdmRnZXA4a
 EpVqFYHSKJsULuoM+YGG0gYagGGCIAHHlXCEQFtaYon00JF1OEuKKqVZZmaSUkLJDBdrhi5VCbMB
 Q0NASBcggonmllLCdRz0uAHahc9pRyLrEnIpFw4xFaanOOQBNblgYwzncjlasmTJKBF9/lvf+lah
 zgYYY3Z6njfgeR4zMyV3mJlJaw2tNYqBwIUghVLRQVdnJ5Z2ZLG0qwPrVyxDd0c7ehblsSifRSbl
 wJESRIDSBpVagEvFMs5+PIkTH16k42OX8KmOLkLpEk58VMCqtdfTLRv7sG7VdVjW04l8No1UygFz
 2N/zFSq1AMVKFZcKZVyYKtL4ZBHnZz1cnPFQLpWwwiG6TswipatN4Qgzk+d5XKlUBrLZ7E4A/17H
 AGbe6HkegiAIhBCpZDSmtUa1WsWYJyDW3IYH/vRW3LC0E0s68+hpyyCXkjEKYQDGcCQxHJmhUAXA
 DJi1KNUU3hqbwZMvncJ47TweeXAjdm7+FHIpF8qYWH2I5lSNCBAkEEKxcPxAG8z6GlMlH+cnZ3Ho
 nQm8OHIS2+VJqFqlKcAKgiDwPC+VyWQ2WgZIAPjmN7+Z01r/TalUWu/7PqKYnYwxCIIAXmDwfi1P
 0z2fwa4/+zz+8o9uQm93Hu2ZFACCrw0MExQD2jA0AwZUd2sDBNpAQyCdTuEz13fh7ZOnsXHdStx/
 120ACF6gobSGMgxlTNiPAcOIxwz/ChgISMdBeyaF5R1ZfGb1YnSJCo6O1XDeXQkzewkZXWG7+9Zu
 CSFEKpWaHRwc/MXw8HBgjWBPqVTa6Pu+1RcCAK01PM9DgfJ0Yc2fYNmKXgCM0mwZVZZQSsdmgkXr
 0DZpCG0EVwsYNZVCtTiBtDSo+Aq1QEWWmxfsn3xmDBCAAAKMdFEplRBMnsdkz2b4y29D57kXqaEv
 +b6PWq22sa2trQdAxYkIXeX7/mrf92NuMTOUUqhWq+B0Fu2diyGdNLRBwiiJywP0BDFSymjhESEQ
 0LG3oMhbyNjLJH9fLrfAzGAQGALpVAo5TkMp1bgG8n0fvu+v1lqvAnBORAy4SWttO5AdMPKjZLSG
 UTUY7QNsYvdl83o2MkzE6E3PkhJgONxpEADDMAxwNG6yvf1t/Xrj+I1zhe0NjFIwKmjqA4CUUogM
 +k2xEfR9f30QBIlB4kE5GoTYhMpIJMLFRTuaFM2FRLduN4kgHTlnIIWAlA6U1hBCxMy1ydLGcZst
 POBIJ3pOoTE2c4xLpuWsXfN9f33MgCAIVkUZntjqNnAOMAZsNNhogADikNv2fUNWtwmcJMFTDILA
 oPg36qSqFf5IJGHq8okR3SHxRoOVitfWOJZN0AZBsCpmgFJqrZWAZEObuWXDMNrAaCQk4Mr0M3kl
 bQChkUGtbUCjBDRKQpIhRFFSgAE2BjohUY0SoJRaGzPAGNMWwtfWEsARLGWjYYyGlA4CHYpZK/Fv
 mXoSIoSvRKENYFMnqnOWfc74JdfQAtgkdjdSQwKMNmClwXp+CYg2ti1mgNZ6jWVAk2W1t9ZgZUAQ
 MGxAkHV4fiELbd9bokjIcKc5BDhSSkhjwNrU2QB7XtBqrEbGCyEimQqltRUDksBOa70mKQFZrTVH
 3KcmG8AMozSMVmCtY/GdT1dbMUEIEUuXMQlJiwyVbpC85AnSQun0xj7GGLBWsVQljaBNoEYSkE1K
 QBw6tuBUCG2NBhsDZhOnKZIeo1XaeqHsHcXKGv1uSAIuFOE1gaK4LYVuVWtwtPYWEkrJCNRKQEvr
 W3ercFCra+CFd71FZqYp19Oox8boa8odGbtJ2kSbxS3XaOlNegEopZr8bXzQwSFXjdIhMA+1osnI
 XeakZ84NCgKRiAcRQoR3gxFu1PfkHI3jE4VjwERASM/PAEtvkwQ0MiDOCDETRwNbv0vXkCSjOSsy
 FzH+1lnwRsgdDWUigx258Ea6kmcaV8KAkIPGhHrFJrqxIDK7vMSGasQmEgK6VvLn+pvIBoRw+7dg
 QCufWYfBIxWIkZfBFfn/+T1DbEjA10p9wrgym4gB80tAUh2d+vDS1OldXbChrA0Io0HDrcPWK4kM
 TeRNQnBlWgIey/grmYMjd8oGIOYIA+h5cYAQIn6+oATMhZkId19pGKMiBGiifEBrI7iwJ4jcp2VE
 xIykdW7lPRaaI44ytYZhBYP5GdCkAhEO4OghNamANmClQjtgQh1mUy/+ySztQnAYAAKlo/YMYxha
 G2itoCMkOJ8ELDSHsmPyHLgyUTzQoAIcjUVJFfCYOTs/DogGtGiQwxg+uaArkQDbPox9KEaZ9mFj
 ijy5U5ebg6LUuVEKhhSY5nWDtvrESzLgDIBPJ2wAM3OyTIVZa2KjQ0xgDJjFtdkAu0va1IWuV2MD
 wncmzlSFIbuuqxtoYQPOJG1AaUEbwAiRYBBBY2YYo6/JBhjmOJq0sUGycOq3lQDLVK1DKTXCLGgD
 tNalZFr8fQC3JvSFkrEA4iOmMMwM/0dT0GKTGlYciUTkmsL4P4gmV3queixkpEVmc9GlEGGmyBgK
 s+k8l2rnBhjOEbqzmIU1w7CK9bxRihzHsTTHKnCuVXRXF3AkMDaB4DgSjgNIIaKcPcEYBb/mo1zy
 UKpUUK2FFWPpdAptuRwWLcojlU4DlEI65UY2AEilXKRTLrQxCPwaypUKZmZmoXUoAem0i3wuh1wu
 C9dxQCJKxUXAR2szlz8wJkSC4HklIEmzlYBTibx5axygQxeYciXyGQeTMzVMF4s4P/YxTr/3IU6/
 dw5nz3+M8YkiqoEOzwNMiJlJSEgC2vNpfGrtdfjCjgF84Q9vhSsJKVeAdYBjr53Af+07jN+89T4u
 TM3AV4CQzlzOUACZlIPFXe24/rrFWLd6BW5cuwrXLV+CjkXtWLFsMXIZFwKANmZeI2hVSkp5KukG
 TybAUFynF/vl6HYgcOr9j/HP//o8jr9xCifeOYfJmSrS2XZ0dvegbdFirPt0P3q6O9DdkUd7Pgsh
 BSpegMKsh/GJAt79eAIPP/UCnt/3KgpTk1jRS9jz2FP41f4j6Fm+Er2rVuP2DVvQ07UI+VwGggil
 io/pmQqmZioozJTx+rkiDr31KiqlYeTShDW9Pdi8YR20X0GlWgOxAZOOgV1CBWLagiA4mYwGzzHz
 BwBWNzIgts4AHCHwn4fP4mfjp7CkK4/VvTdgy/pFWN7dhiWdGfQsSqEjn4IQBLAGUApnzAJiiYC+
 fhE+npI4fELipd9chOdrtI9dxMz0JG67+Xbs2LQS1y/OIJOSUcK4FhLRBmBpCswuytUsLhXbMVFY
 jAvTFYxPVvDGuVn8x9HDIGh0dC2Dkxahy27BACEEMfMHQRCcS2aFJ4nodSJaHdXWNOTcGVXPRznj
 QyOLtpWbEVCAdy8W8M75D6F9DyoI9V1FGVki0ZjiAAHIZhzkMmmI1BLkunvhs8Ci3hV450IRr/5s
 GKXZ2TAvUJfomPNkUoT5Quk4kNIByTTg5JDruQFGZlEjQq2mIFtnhTlKsb0eBMFkzIBDhw5VBgcH
 jwG4m5k1AGFxADPDleDF7S4tyihoNgBraM1Ati2846xuCGwIc/EykbDpfzAYpZpE0TeQxBBB6Dkq
 SmNGpZBZ1I/lSyLm8XwR31zwFAMpe3AqQi/muwJpvxkHRLRJIjo2PDxcaSyRORYZQNeeDVoGVKY/
 otzUv0FRU4FhrC6O4/AfDA3Rhg0b0NHRAdd18XePPhoRP3fCs2zJDfiQboabciGCubNFrVPoNadR
 ePfVMPUuaP5K0WhuaqgRsqfTKRJwUy7Ydcka9ghUuRGNx5pqhBzHGVZKjQohBrTWtgK1Lj29UM3v
 xs9+FkNDQzhw4ACGh4fheV58cmQZIIRAefJDdPMHTePkiVASArZK/NqSI/XZ6miNLIQgIcSo4zjD
 dQzYtGmT3LdvX+GOO+54WUo5oLWOqyxc14XjONwqYWL1yhiDW265hQDg8OHDXKlUyHEcdl03eXxG
 Fu1ZqG3riy38FkKQ4zicrG6wYjzP8RjXnxDF47FNsyX5IqWElPLlffv2FTZt2iRfffVV7QBAW1ub
 iQbZK4S4j4g6k6lsIqJGGGon1FqT1hqrV68GAExPT5PjOEgUUdfd0TjUEJjE7aOK82RMUFc6b8cQ
 QsTMiwivG7chg8xRvwIz703S3CRr27ZteyYIgvttoVRyi1pgalZK0cMPP9xSFL/zne/gkUcesfXH
 uPPOO7F27Vp873vfAzNDSonPfe5z6O/vR3d3NzzPw9jYGA4cOIByucz2hDpaV9yuWq3io48+wsGD
 B1Eul5M735hMjT/QcF0Xruv+08jISF2ZXNPhXl9f3wml1F9E4XE8QOOBpM0aK6Xw0ksvYefOnQCA
 PXv2YP/+/Thw4AAAYGhoKO57+vRpnDp1ChMTEyAi7Nq1C319fXjttdfw/PPPY3Z2Fps2bcKWLVvw
 5ptvUrVaJWaua/fCCy9gZmYGN998MzZv3owTJ07A931qnSkOOROp1lQul7v37NmzhQWrxffv339G
 CPGoFWMrPq0qNKwJbzy0sMdbydh+fHwcr7/+Ot544w0EQYDt27dj6dKlOH78OH75y19iYmICIyMj
 OHjwIDKZDO644w74vs+33357XbsLFy7gyJEj+PWvf82ZTAbbt29vWkdivUxEFH1u8+j+/fvPXFG5
 /JEjR54WQjwXRU2xM20MSy2xUTvrTeLve5I7Mj4+Xnfu19fXF/reY8fqsjcnTpwAAKxcuRK+76O/
 v7+pnVIKJ0+eBAD09vbOV5rDADhay3NHjhx5uhWtTaWyt956Kx09epSJ6KtCiGWO4wwqpUykW9ba
 UJIByQNMx3Hgum5TAmNiYgKO48RHbj09PQCA+++/v+X5f2dnJ5RSC7Uj2y7p6hJrZMdxhBDiIBF9
 NUnbggw4evQob926lY4cOVLctm3bFwH8gpkHo7igySA27vR8J8bGGKRSqTgam5qawvLly/HMM8/g
 /PnzdeNFDGVmxuTkJFasWFHXjojgui6n02lKpVLxGpJ+VQhBUsqDUsovjoyMFLdu3dpE/Lwq8Mor
 rzAAjIyMTDPz3VLK5yJ/buExWyO7UFFU8n/rly1z3n77bQDAjh07IKWMJceqkJQSQohY1IeGhuJ3
 Ubs615zAC9bfP8fMd4+MjEwnaWoq2lgIUW3dupVGR0erY2NjP+/t7b1ERNuIKBupAFkmGGMwODgI
 AHj55ZdjNGeMib3A8PBwnaq89957WLduHfr6+mIxLpVK6Orqwvr163HXXXfR8ePHcebMGerr64vb
 ERHK5TI6Ojq4v7+f7rzzTrz55ptkCRdCTAkh9oyOju4ZGxurbd26lcbGxuavWlmIAWNjYxgYGKCx
 sTGMjY290tvb+3MiShFRPxFlIglgrbUaHByUAHDgwAGWUpJlwI4dO+oYYHG51hrHjh3DzMwM1q5d
 i82bN2NoaAj9/f0gIhw6dIjL5TKMMWTbrVmzBrfccgt27NiBG2+8EUREIyMjqFarkFIWhBB7hRD3
 jo6O/goABgYGaHR09Oo/m5vv2rJlywZm3sXMQ8aYgajqKgY3dqdteJz4ApSJiOzzIAhiV2mRp5SS
 rXjbWkWlVN2plVWZdDoNx3GOCyH2u677L0ePHv3kP5xc6Nq8eXOn1vqPtdZbtNYDAG6SUvYmU9s2
 0Wrha/LTWXtz/TE5SyljBjR+ZsvMHxPRaSL6jRDisDHmv0+fPn3pao+X6SoJJwDi+PHjOhrDWbZs
 WWc+n1+czWaXO47TD+BGZr7eGLOWiPJEtDqyH/Wp7IZIM2KWB+AsgBKAs1rrca31Gd/3361Wqx+V
 y+WJYrFYBFAFoLds2UJEZC4n7p+4BDSMI5JnlYnnyZjdNPSx/Ro/qTMtxmj0WKah3VVd/wPXW48s
 Cr/2HAAAAABJRU5ErkJggg==
