Source: meebible
Section: user/office
Priority: extra
Maintainer: Ilya Skriblovsky <Ilya.Skriblovsky@gmail.com>
Build-Depends: debhelper (>= 7), libqt4-dev, applauncherd-dev
Standards-Version: 3.8.4
Homepage: http://projects.developer.nokia.com/meebible

Package: meebible
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Bible reader for MeeGo Harmattan
Version: 0.3.0
XSBC-Maemo-Display-Name: MeeBible
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKRWlDQ1BJQ0MgcHJvZmlsZQAAeNqd
 U2dUU+kWPffe9EJLiICUS29SFQggUkKLgBSRJiohCRBKiCGh2RVRwRFFRQQbyKCIA46OgIwVUSwM
 igrYB+Qhoo6Do4iKyvvhe6Nr1rz35s3+tdc+56zznbPPB8AIDJZIM1E1gAypQh4R4IPHxMbh5C5A
 gQokcAAQCLNkIXP9IwEA+H48PCsiwAe+AAF40wsIAMBNm8AwHIf/D+pCmVwBgIQBwHSROEsIgBQA
 QHqOQqYAQEYBgJ2YJlMAoAQAYMtjYuMAUC0AYCd/5tMAgJ34mXsBAFuUIRUBoJEAIBNliEQAaDsA
 rM9WikUAWDAAFGZLxDkA2C0AMElXZkgAsLcAwM4QC7IACAwAMFGIhSkABHsAYMgjI3gAhJkAFEby
 VzzxK64Q5yoAAHiZsjy5JDlFgVsILXEHV1cuHijOSRcrFDZhAmGaQC7CeZkZMoE0D+DzzAAAoJEV
 EeCD8/14zg6uzs42jrYOXy3qvwb/ImJi4/7lz6twQAAA4XR+0f4sL7MagDsGgG3+oiXuBGheC6B1
 94tmsg9AtQCg6dpX83D4fjw8RaGQudnZ5eTk2ErEQlthyld9/mfCX8BX/Wz5fjz89/XgvuIkgTJd
 gUcE+ODCzPRMpRzPkgmEYtzmj0f8twv//B3TIsRJYrlYKhTjURJxjkSajPMypSKJQpIpxSXS/2Ti
 3yz7Az7fNQCwaj4Be5EtqF1jA/ZLJxBYdMDi9wAA8rtvwdQoCAOAaIPhz3f/7z/9R6AlAIBmSZJx
 AABeRCQuVMqzP8cIAABEoIEqsEEb9MEYLMAGHMEF3MEL/GA2hEIkxMJCEEIKZIAccmAprIJCKIbN
 sB0qYC/UQB00wFFohpNwDi7CVbgOPXAP+mEInsEovIEJBEHICBNhIdqIAWKKWCOOCBeZhfghwUgE
 EoskIMmIFFEiS5E1SDFSilQgVUgd8j1yAjmHXEa6kTvIADKC/Ia8RzGUgbJRPdQMtUO5qDcahEai
 C9BkdDGajxagm9BytBo9jDah59CraA/ajz5DxzDA6BgHM8RsMC7Gw0KxOCwJk2PLsSKsDKvGGrBW
 rAO7ifVjz7F3BBKBRcAJNgR3QiBhHkFIWExYTthIqCAcJDQR2gk3CQOEUcInIpOoS7QmuhH5xBhi
 MjGHWEgsI9YSjxMvEHuIQ8Q3JBKJQzInuZACSbGkVNIS0kbSblIj6SypmzRIGiOTydpka7IHOZQs
 ICvIheSd5MPkM+Qb5CHyWwqdYkBxpPhT4ihSympKGeUQ5TTlBmWYMkFVo5pS3aihVBE1j1pCraG2
 Uq9Rh6gTNHWaOc2DFklLpa2ildMaaBdo92mv6HS6Ed2VHk6X0FfSy+lH6JfoA/R3DA2GFYPHiGco
 GZsYBxhnGXcYr5hMphnTixnHVDA3MeuY55kPmW9VWCq2KnwVkcoKlUqVJpUbKi9Uqaqmqt6qC1Xz
 VctUj6leU32uRlUzU+OpCdSWq1WqnVDrUxtTZ6k7qIeqZ6hvVD+kfln9iQZZw0zDT0OkUaCxX+O8
 xiALYxmzeCwhaw2rhnWBNcQmsc3ZfHYqu5j9HbuLPaqpoTlDM0ozV7NS85RmPwfjmHH4nHROCeco
 p5fzforeFO8p4ikbpjRMuTFlXGuqlpeWWKtIq1GrR+u9Nq7tp52mvUW7WfuBDkHHSidcJ0dnj84F
 nedT2VPdpwqnFk09OvWuLqprpRuhu0R3v26n7pievl6Ankxvp955vef6HH0v/VT9bfqn9UcMWAaz
 DCQG2wzOGDzFNXFvPB0vx9vxUUNdw0BDpWGVYZfhhJG50Tyj1UaNRg+MacZc4yTjbcZtxqMmBiYh
 JktN6k3umlJNuaYppjtMO0zHzczNos3WmTWbPTHXMueb55vXm9+3YFp4Wiy2qLa4ZUmy5FqmWe62
 vG6FWjlZpVhVWl2zRq2drSXWu627pxGnuU6TTque1mfDsPG2ybaptxmw5dgG2662bbZ9YWdiF2e3
 xa7D7pO9k326fY39PQcNh9kOqx1aHX5ztHIUOlY63prOnO4/fcX0lukvZ1jPEM/YM+O2E8spxGmd
 U5vTR2cXZ7lzg/OIi4lLgssulz4umxvG3ci95Ep09XFd4XrS9Z2bs5vC7ajbr+427mnuh9yfzDSf
 KZ5ZM3PQw8hD4FHl0T8Ln5Uwa9+sfk9DT4FntecjL2MvkVet17C3pXeq92HvFz72PnKf4z7jPDfe
 Mt5ZX8w3wLfIt8tPw2+eX4XfQ38j/2T/ev/RAKeAJQFnA4mBQYFbAvv4enwhv44/Ottl9rLZ7UGM
 oLlBFUGPgq2C5cGtIWjI7JCtIffnmM6RzmkOhVB+6NbQB2HmYYvDfgwnhYeFV4Y/jnCIWBrRMZc1
 d9HcQ3PfRPpElkTem2cxTzmvLUo1Kj6qLmo82je6NLo/xi5mWczVWJ1YSWxLHDkuKq42bmy+3/zt
 84fineIL43sXmC/IXXB5oc7C9IWnFqkuEiw6lkBMiE44lPBBECqoFowl8hN3JY4KecIdwmciL9E2
 0YjYQ1wqHk7ySCpNepLskbw1eSTFM6Us5bmEJ6mQvEwNTN2bOp4WmnYgbTI9Or0xg5KRkHFCqiFN
 k7Zn6mfmZnbLrGWFsv7Fbou3Lx6VB8lrs5CsBVktCrZCpuhUWijXKgeyZ2VXZr/Nico5lqueK83t
 zLPK25A3nO+f/+0SwhLhkralhktXLR1Y5r2sajmyPHF52wrjFQUrhlYGrDy4irYqbdVPq+1Xl65+
 vSZ6TWuBXsHKgsG1AWvrC1UK5YV969zX7V1PWC9Z37Vh+oadGz4ViYquFNsXlxV/2CjceOUbh2/K
 v5nclLSpq8S5ZM9m0mbp5t4tnlsOlqqX5pcObg3Z2rQN31a07fX2Rdsvl80o27uDtkO5o788uLxl
 p8nOzTs/VKRU9FT6VDbu0t21Ydf4btHuG3u89jTs1dtbvPf9Psm+21UBVU3VZtVl+0n7s/c/romq
 6fiW+21drU5tce3HA9ID/QcjDrbXudTVHdI9VFKP1ivrRw7HH77+ne93LQ02DVWNnMbiI3BEeeTp
 9wnf9x4NOtp2jHus4QfTH3YdZx0vakKa8ppGm1Oa+1tiW7pPzD7R1ureevxH2x8PnDQ8WXlK81TJ
 adrpgtOTZ/LPjJ2VnX1+LvncYNuitnvnY87fag9v77oQdOHSRf+L5zu8O85c8rh08rLb5RNXuFea
 rzpfbep06jz+k9NPx7ucu5quuVxrue56vbV7ZvfpG543zt30vXnxFv/W1Z45Pd2983pv98X39d8W
 3X5yJ/3Oy7vZdyfurbxPvF/0QO1B2UPdh9U/W/7c2O/cf2rAd6Dz0dxH9waFg8/+kfWPD0MFj5mP
 y4YNhuueOD45OeI/cv3p/KdDz2TPJp4X/qL+y64XFi9++NXr187RmNGhl/KXk79tfKX96sDrGa/b
 xsLGHr7JeDMxXvRW++3Bd9x3He+j3w9P5Hwgfyj/aPmx9VPQp/uTGZOT/wQDmPP87zWUggAADxBJ
 REFUeNrtW3tsHMUZ//b2Xr6Hfef4EZtLA8EqOBAlDlaDEpBoK4RaoqqCqP9WSosCRSgC8QdSC4jQ
 v6oIhCiFFIkKVVSoCv2DAq2q0lbISYPq4LhOSQIWrzi249fZZ5/vuTv9vtmZvbm93bOdMyFRO9Z4
 9/YxM99vft9jZmcA/seTtl4Fvfzyy2E8hHw+X9g0zX7G2DbMKbzWhzmI5714jK6yuKymaWfwWMQ8
 hOdjmEew7EEsO4/XCvfdd1/+KwcAhd6IDduBp1vL5fJuzNuxgT2YAc/tjMJDqVSiI5N10nV6jhIK
 Bn6/XxbLsEwtEAgAHvh1mek5zKN4Poz5OD77IRZ5CsGYvKwAHDlyZBs25AGs/NZcLtebz+fDhUIB
 DMMgwRgKppGsJEDdysV9CxfvJMvCOhkKrum6DqFQCMLhcL6pqekM3juBdb544MCBkS8VgJdeeoko
 /RzmvZlMxr+4uOijXmRW0lYSeL2SAIRXSKyIx+Nmc3NzGW+9hfng/fffP7auALzwwgshrGsfCntk
 eXk5OjMzc1kFXi0gbW1tWiQSySIoB/Da0QcffLDQMADPP/98Fxb+c6T5/nQ6DXhkWMGVIbkjYQcx
 VAstmUySeryCIPzsoYcemrhkAJ555pluNEZvLSws9GEmHb9yut2bDQxthNbS0gKYh9D47n3kkUfG
 1wzAs88+24U9/fbc3BwJf8UL7gYEAqC1trYOITPufvjhhydWDcDhw4dDePgVGrn98/PzDNYxXrjc
 OCQSCQ2N5Ct4/pNHH320xib4PXRpH7o1rvPk0q6yzldZoJEM6Dr3o9v8G156bUUGPP744ym0pGen
 pqaiCMJVR303VUDhtY6Ojix6sBuffvrpsboMwMDiOaR+FB/m1n6lIOUqSBrJQjLFYjGKYe71ZMCh
 Q4e2YYcPjo2NBa5ivfckQyqVKmGH9j/xxBMjrgzAmw9QhIfubkXmO5lBz1P8vtI7NCaQz7uV5fcH
 gMIMZt2oKl8mdRzhvFfPHqA386NBfIAMYg0DnnzySRrYvDM+Pt5HMb1b42VD6RiJxsDE1wuFIpSw
 MQUWgCmjCXL4O1co4zUGJtN4DaFgAII4mGmNBKBdz0I0FICQZkJ2KcPLotheD0VgschgIssgnStD
 keTz6fi+jmBgpId/oYAOTeEgtAfKEPcVsUwfBHUNjzoE8Dw9O8vB8AKE6unu7h7COr/71FNPTVYx
 AIXegUavl9B1E14MdGCJhWCqFIJiIQIbWhPQ3h6GjmQcNnZ2QGtzHJqjYYg1hVFoHMFhnI6tAQMB
 yhVKML+Ug7GZeRi9MAunxqZhUzILRmYaRqeWoHfrZtjesxm+190JieYoRLGMgF/notP7hZIB2XwB
 s1XOzMIiTM5hns/CxYVlWJzPQ4eOAJtzEDIKfOToTNT+bDbbi0aRRrB/dqrAVhzZhSnaU5lBVCPh
 abT3eS4I1++5E366ewuk2pohFglDEGnv1/kw1UKeWKJ50dACkxpyfmYBfvneeZienoZf/PAG+Prm
 a5D+Ovg0TbyvFsLsAxOUpzaZpFJlA3L5IsxllmHgkzQcPXEOdiwNYgfl3UBgJCMCsFUCoNO/xx57
 LIyNOoiWksb1mqQ7VUI6myuWYTQXhoWWHth7xy74wa7rINwUwV4Ogi4aLSvTBBBuWeorje27kjE4
 OTQM37p5E9zZfyNNAljPiXLkELiK0o7fRGnqgEhTCNqRhRGWhX9+sgCzTZtgfnYK4pCvUl+yA/Q7
 GAwu3X777W8ODAyU/aKXQyjodjl5odIeBz+Q1ZqgtH0fJBJtYKJOGqalldJIUYPU9zz9kfqc5oNC
 ZhaZ1SH7174vhVTtjnqPkk8ByipPw14vQHkpDbnULcBCG8A495qrASVZ0WBTtJuXAITxYg9mPpmh
 WmwCoIQ9FghH0SYFgTPUZqm2JkusPscPGrHFMnAqQ1QQ3N5VgVBB1REUi0k+8CMzPDwOI1mRPTSF
 t+ATBrBfGDlNoQvPZANMgzKyg7yDo3HO85Wu2b85hFgWmQxf9TM+RY1U4d3uV3LF0DDeZgOcsgj7
 o5GsJDNnkgBgm5izswQWmRsaa8bHMkBUCG+Mz26IbJw8d15zE4g/o9Uyww1YMQ/oaVcq5fsEGwQI
 DllklswmmW0vgD9SdJEecM7T2UdkATPRRaK/Vxvv1kteel8lGDWYSS7U9rYX9b2CKPsKMzhjdSGs
 0yYpAKRUAPqKxWJVdCWNIGeB3+S0YobFBKvBK+t5XfugVdwbqYCXDZFCOMF1XuNqpInnKQgzLAbb
 7llJJCvJbAOALwVtqntEfhwAs9IY0CqoO3u4bk+pnkBx8asB06vsCqKYqY0oPCh670xC1qANAF7o
 VV2gw3fywrghxKBDE2GS5mKNKVPhqotSprTt37xX6BlZFtdf035HDWCcbXJ6guo2gGCqwdvqBYAY
 S/SqKhClCFC6QFmBajiY8AKMmRULrhg1VVjmMoipYQBTwkNxsFys5jrQcn5ncNZtRaGVdoNi+FzU
 i5HMKgP4zI86CKq2osK1CDUArVowrwarPVprCO3YGBwhhavxrFd+lYBc/8ugGRVP5gKAJu2dZAB4
 2QA7HiBKCd+62uTZ+1V1rKz3a0lcDsO02+plA2Rn2wwgvXAaLdUGSL0ianGbIPytm2GSv530qzKq
 du/X6rhbR3jNH8h6bLuBKsrInpkr2oBqBkiX4VSBigcwLTtgux9wp+BK7k+lMQjhxDWnqqyWBao7
 JFfN1bXsbQNqGKCGvV5GkIeW/Nys677cestNACb0FUR06ZwBqpfcy5TRqhUGa6bhCYDKjCob4Gy4
 qURTtmsxmSrCikGPZ+8pGiDGlmu2LbWIggiCEACjPgA1DPDSPdUIWoZQMIKxhmZNeb9TbzGTN97D
 Xa2hPLA7ipXNunGAKqvNANnjTvcmLbVVcNlSAWkXGgBAuldQY41GpuC5/RCdQwbdwwhKt1zjBejL
 qjMQst0j6VOZDIc1NG64sba+W0wCaLw8rvuyY0TUKmMAt0BIyioByGIDonVVwDRs92KuAwBWcMW4
 ITSY2TgAJtjjALIBYHiPBWhqDHNWtQG0zKTfCUAVEKRTAbPiEhvuMau3DALWYA3bAEt+U0SsFAmW
 q+Rw2gCs74zKgKKXDZBstWwAjbUt2rp9O1hTg/2+in1xccNrNwG+im0qGZ6RoFJXUWXAEB52e80H
 gNQr06iMCarYYtnh6pGhmPZSJjelwHTPLkOZfQJlnqE62IK69QmltofrvCOVYMc1DrFkthkw5qRL
 TShsWm7QNCoRlkSefwShZW6a5S6z2WWe84U8b0QwFIRYNAotzXHw6X4oFEv2wIqXhdSlqfVQOAQ0
 r0ETFrQipVSyaBwK0dR3BMJ036dzupNBpvs2E8VQnNoJK4wFVJklACP1VcC65+OW1uD+X9d9HJip
 mSk4/Z+PYGjkLJz9+DO4MDkLSwUDSnxEirREgGi2NoCPb2hpgr6btsC937kDbtl5sx0Kk/CTF6fg
 j+/8FY7969/wBZaRL9FUN30Z8vEPLwGdQXMkCN0dSdiyqQu23ngdbL/pBujq6sS2BCymgWVYufU3
 WV0VwI4bUeOAQXGDyY8HaijMBxiIKg0xZ2YX4U/vDsC7Ayfh+OBpmJheAH84Dq1tnRBPtkFySw/0
 tiegvTUOiVgTByqzXIJ0JgefTczBex9dhNff/TV8s/86WFpcgo6N3XDo8BH4zetvQ6IzBdd8rQf6
 dvdDZ1sC4rEw/7yWyRZhmj6BzWbgQnoRzg7Pwev/+Biymd/DhngAdvReC7f29UIAUS4W0VMFxaSI
 6FCHCnAZkWWDKgPyeHEUT3sktdVQWE41E8bvnPgCfvfGh7CxLQZbenbCN/a0QGdrFDoSTdAaD2Iv
 BXiPMltXTT7jQ6tk2bYmGJ9NwtBoB/x9eBLmF0wYzXwOF8fPw7fv+j7svrkbru2M8A+d6lBZ0wJY
 dxLLTMDSchHS2RLMzOfhYnoZLsxk4dzkPPzl1ROoniWIJTaC7q8eCKkAiDUPo9jpeZUBtHZmmACo
 cX+MiUkGEV76gpDYtANKUIBz4xn46Hwar+dtxBl3yF4uUkN10LgdMPQWCCc3wRKqSXP3TXDqsyUY
 PH0MjFJe0NZ7MoQA5bPKZPmxPcwXhmgyBUyP8Gtc8PoB27CQ2QJgYGAgf9ttt9Ha23vlel4VANLh
 kI7GCPXQFJ+qGQsBhNt4afqqg2INyqhhJZq0FLNKKAYfFObNCOjx6yHoA4A1BdkW23QbIMavaH6f
 GwDyw+9xktkGQCD7oa7r+VKpFHZ6hNzCBETSr1oUajD4SW7YDFPxO0CX8xeiTQYCc03+JKTHTkOj
 iTxTMBgk9+EEgNYZ50lWeUFdH3AKX6SIsE+NB+gLLK38uNT4Xx15Ubm59HmIp3/r+myGvIVYZVJv
 TnCl+ihTu53gi69MZ0jWGgCOHz8+uWfPnhPoz7ejhfTJqWy5TL3R5JxgcWu4+hlsPVjgLAtlMfHa
 iWPHjk3WACB66EVE7ke0XF8uhpYFrQcAzvjCree8IrdLSY5vCLSEtkwyVlsQR9q1a9cb5XL5HvpU
 bpWxfovFVkPp9V6WKOpkqFoaMuAP77//ftUyuZqujcViB7HHs2JF+LouEqz3hbfe4qZGMSBZSCaS
 zXlTd1749NNPM6lU6nNszD2r3flxpSbRdr79BgHYj67vWI2t8Hj3KL7wirCkV/NSUdJ7Ep4WSx91
 ZaXXm/39/bRR4m20B31y5djVwgSp97RvAPWe1gXePTg4OLEmAAQI3Sj0WwSC3Bt0JQMhBZd7iYTw
 e1F4zw0Ter0Cx8fHF7u6ut7EwpIUIImR4hUJgio8X3mq67Rl5scnT5689C0zChNCWNg+zEdo8pRm
 kOWw+asGQvkuya09Jtp0eQDzUez5xjdNqWnnzp0pLPg5ohVmv0kzHnY7mF3WlwWK4xO7vaIVBacI
 j2+bw2cOfvDBB+u7bc4FCFphRauub6UtsZjDSuOqwPCs2OVz1SresYUWcQMNbPjGScwvYo9/uRsn
 namvr8/eOosC7MbjdlDmFFwEswVwW1ThfMYJlDiniZthPLe3zg4NDV3erbMerOCbpzETG2gRIrEk
 hed88zTmNW2exsw3T6OgNHtLlB6hzRx45JunkeZ5+H9qPP0X+QP0ncDPoE0AAAAASUVORK5CYII=
