html
{
    -webkit-user-select: none;
    user-select: none;

    font-family: Nokia ;
}

body
{
    background: #e0e0e0;
}

body.inverted
{
    background: black;
    color: white;
}

.verse
{
    display: inline;
    cursor: pointer
}

.verse.selected { background: #fea; }
.verse.selected .verse-label { color: #c00; }

.inverted .verse.selected { background: #444; }
.inverted .verse.selected .verse-label { color: #c44; }


.heading
{
    font-size: 120%;
    margin: 20px 0;

    color: #888;
}


.verse-label
{
    display: inline-block;
    position: relative;
    top: -.5em;
    font-size: 65%;
    font-weight: bold;
    padding: 0 .2em 0 .2em;

    text-indent: 0;
}

.verse-label { color: #888; }
.inverted .verse-label { color: #666; }

.par
{
    margin-top: .8em;
/*    text-indent: 1em; */
}

.small, .smallcaps { font-size: 80%; }
.upper { text-transform: uppercase; }

.z
{
    display: block;
    margin-left: 60px;
    text-indent: -20px;
}

.superscript
{
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

.match { background: #8f8; border-radius: 8px; }
.match.current { background: #f88; }
.inverted .match { background: #060; }
.inverted .match.current { background: #600; }

body.hide-matches .match { background: none; }
