html
{
    -webkit-user-select: none;
    user-select: none;

    font-size: 150%;
    font-family: Arial;
}

.verse
{
    display: inline;
    cursor: pointer
}

.verse.selected
{
    background: #ffb;
}
.verse.selected .verse-label
{
    color: #c00;
}

.verse-label
{
    display: inline;
    position: relative;
    top: -.5em;
    font-size: 65%;
    font-weight: bold;
    padding: 0 .2em 0 .3em;
}

.par
{
    margin-top: .8em;
/*    text-indent: 1em; */
}

.match
{
    background: #8f8;
}

.match.current
{
    background: #f88;
}
